@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

@import 'tailwindcss';



@theme {
  --color-sidebar: #212121;
  --color-primary: #FFC107;
   --font-family-marker: "Permanent Marker", "cursive";
   --breakpoint-xs: 475px;
}

body {
 font-family: "Montserrat", sans-serif;
background-color: black; 
color:white
}

html {
  font-size: 14px; /* Default is 16px */
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}


.active {
  @apply  bg-primary text-black rounded-xl
}

.links li:hover {
  @apply bg-primary text-black rounded-xl;
}

.bottom:hover {
  @apply bg-red-500 rounded-xl
}

.bi-x {
  @apply fixed  transition-all duration-700 ease-in-out -my-5 -mx-5
}

.cards {
  @apply bg-sidebar w-auto h-auto m-2 rounded-2xl p-4 overflow-hidden
}
.card {
  @apply bg-sidebar w-auto h-auto m-2 rounded-2xl p-4 overflow-hidden
}

.card:hover {
  @apply bg-primary  text-black transition-all duration-500 ease-in-out
}
.faq:nth-child(2) {
  border-top: 1px solid #6c6e6e;
  border-bottom: 1px solid #6c6e6e;
  padding: 0.8rem 0;
}
 .chart {
    height: 70%;
    .recharts-default-tooltip {
      background-color: black !important;
      border-color: black !important;
    }
  }

